<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
        <string>SF-Pro-Text-Black</string>
        <string>SF-Pro-Text-BlackItalic</string>
        <string>SF-Pro-Text-Bold</string>
        <string>SF-Pro-Text-BoldItalic</string>
        <string>SF-Pro-Text-Heavy</string>
        <string>SF-Pro-Text-HeavyItalic</string>
        <string>SF-Pro-Text-Light</string>
        <string>SF-Pro-Text-LightItalic</string>
        <string>SF-Pro-Text-Medium</string>
        <string>SF-Pro-Text-MediumItalic</string>
        <string>SF-Pro-Text-Regular</string>
        <string>SF-Pro-Text-RegularItalic</string>
        <string>SF-Pro-Text-Semibold</string>
        <string>SF-Pro-Text-SemiboldItalic</string>
        <string>SF-Pro-Text-Thin</string>
        <string>SF-Pro-Text-ThinItalic</string>
        <string>SF-Pro-Text-Ultralight</string>
        <string>SF-Pro-Text-UltralightItalic</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.icloud-services</key>
	<array/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.AksiyaMix.uzbek</string>
</dict>
</plist>
