<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.icloud-services</key>
	<array/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.AksiyaMix.uzbek</string>
    <key>UIAppFonts</key>
    <array>
        <string>SF-Pro-Text-Black.ttf</string>
        <string>SF-Pro-Text-BlackItalic.ttf</string>
        <string>SF-Pro-Text-Bold.ttf</string>
        <string>SF-Pro-Text-BoldItalic.ttf</string>
        <string>SF-Pro-Text-Heavy.ttf</string>
        <string>SF-Pro-Text-HeavyItalic.ttf</string>
        <string>SF-Pro-Text-Light.ttf</string>
        <string>SF-Pro-Text-LightItalic.ttf</string>
        <string>SF-Pro-Text-Medium.ttf</string>
        <string>SF-Pro-Text-MediumItalic.ttf</string>
        <string>SF-Pro-Text-Regular.ttf</string>
        <string>SF-Pro-Text-RegularItalic.ttf</string>
        <string>SF-Pro-Text-Semibold.ttf</string>
        <string>SF-Pro-Text-SemiboldItalic.ttf</string>
        <string>SF-Pro-Text-Thin.ttf</string>
        <string>SF-Pro-Text-ThinItalic.ttf</string>
        <string>SF-Pro-Text-Ultralight.ttf</string>
        <string>SF-Pro-Text-UltralightItalic.ttf</string>
    </array>
</dict>
</plist>
